<div class="layout layout--col layout--stretch">
  <div class="columns stretch-y"
    data-overflow-max-cols="2"
    data-overflow="true"
    data-overflow-counter="true"
  >
    <div class="column">
    {% render 'show_error', settings: settings, devices: devices %}
    {% for device in devices %}
      {% render "tailscale_device" with device: device %}
    {% endfor %}
    </div>
  </div>
</div>
